In [1]:
# !pip install numpy --upgrade

In [11]:
import pandas as pd

# Read the aligned files and create a mapping dictionary
tsv_file = "/mnt/data-artemis/kshitij/TEMP/Speaker-recognition/DSU_creation/VCTK/tsv_dir/audio_dev.tsv"
kmeans_file = "/mnt/data-artemis/kshitij/TEMP/Speaker-recognition/DSU_creation/VCTK/kmeans_dir_L22_C2000_output/audio_dev_0_1.km"

with open(tsv_file, 'r') as f1:
    f1_data = f1.readlines()
f1_data = f1_data[1:]
f1_data = [i.split('\t')[0] for i in f1_data]

with open(kmeans_file, 'r') as f2:
    f2_data = f2.readlines()
f2_data = [i.strip() for i in f2_data]
assert len(f1_data)==len(f2_data)

file_pairs = dict(zip(f1_data, f2_data))

print(len(file_pairs))
# Read your dataframe (replace this with your actual data loading method)
df = pd.read_pickle('/mnt/data-artemis/kshitij/TEMP/Speaker-recognition/useful_df/vctk/30_class_dev.pkl')  # Adjust parameters to match your file format

# Extract base filename from path and add new column
df['DSU'] = df['file'].apply(
    lambda x: file_pairs.get(x.split('/')[-1], None)
)

# Display the result
df

558

,file,text,speaker_id,DSU
0,/mnt/data-poseidon/kshitij/Speaker-recognition...,look at the witnesses,p229,1386 1416 443 1445 1144 1144 137 7 299 299 299...
1,/mnt/data-poseidon/kshitij/Speaker-recognition...,it is a job creation scheme,p229,1386 1416 65 1445 1879 1879 868 1144 137 137 7...
2,/mnt/data-poseidon/kshitij/Speaker-recognition...,he has a lot of experience as captain in his c...,p229,789 1522 1522 152 152 152 868 868 137 1095 109...
3,/mnt/data-poseidon/kshitij/Speaker-recognition...,"others were in hiding, in fear of their lives",p229,1384 775 65 1445 1879 246 868 137 137 862 14 1...
4,/mnt/data-poseidon/kshitij/Speaker-recognition...,the boy is no longer with us,p229,1386 1416 443 1445 1879 868 137 246 137 1095 1...
...,...,...,...,...
553,/mnt/data-poseidon/kshitij/Speaker-recognition...,we do not get that impression now,p288,789 1416 1852 1445 374 152 1369 1369 1369 1369...
554,/mnt/data-poseidon/kshitij/Speaker-recognition...,it's quite a routine,p288,1386 1416 65 1445 1144 1879 805 7 1591 299 123...
555,/mnt/data-poseidon/kshitij/Speaker-recognition...,we played them off the pitch,p288,1386 1416 443 374 1879 796 1144 137 299 299 92...
556,/mnt/data-poseidon/kshitij/Speaker-recognition...,the actual primary rainbow observed is said to...,p288,1384 775 65 1445 1144 868 868 14 1095 1095 14 ...
557,/mnt/data-poseidon/kshitij/Speaker-recognition...,this is the way things should be handled,p288,1384 775 65 1445 1879 1144 868 137 14 1095 109...

In [12]:
df.to_pickle("/mnt/data-artemis/kshitij/TEMP/Speaker-recognition/DSU_creation/VCTK/final_data_vctk/dev.pkl")

In [13]:
pd.read_pickle("/mnt/data-artemis/kshitij/TEMP/Speaker-recognition/DSU_creation/VCTK/final_data_vctk/dev.pkl")

,file,text,speaker_id,DSU
0,/mnt/data-poseidon/kshitij/Speaker-recognition...,look at the witnesses,p229,1386 1416 443 1445 1144 1144 137 7 299 299 299...
1,/mnt/data-poseidon/kshitij/Speaker-recognition...,it is a job creation scheme,p229,1386 1416 65 1445 1879 1879 868 1144 137 137 7...
2,/mnt/data-poseidon/kshitij/Speaker-recognition...,he has a lot of experience as captain in his c...,p229,789 1522 1522 152 152 152 868 868 137 1095 109...
3,/mnt/data-poseidon/kshitij/Speaker-recognition...,"others were in hiding, in fear of their lives",p229,1384 775 65 1445 1879 246 868 137 137 862 14 1...
4,/mnt/data-poseidon/kshitij/Speaker-recognition...,the boy is no longer with us,p229,1386 1416 443 1445 1879 868 137 246 137 1095 1...
...,...,...,...,...
553,/mnt/data-poseidon/kshitij/Speaker-recognition...,we do not get that impression now,p288,789 1416 1852 1445 374 152 1369 1369 1369 1369...
554,/mnt/data-poseidon/kshitij/Speaker-recognition...,it's quite a routine,p288,1386 1416 65 1445 1144 1879 805 7 1591 299 123...
555,/mnt/data-poseidon/kshitij/Speaker-recognition...,we played them off the pitch,p288,1386 1416 443 374 1879 796 1144 137 299 299 92...
556,/mnt/data-poseidon/kshitij/Speaker-recognition...,the actual primary rainbow observed is said to...,p288,1384 775 65 1445 1144 868 868 14 1095 1095 14 ...
557,/mnt/data-poseidon/kshitij/Speaker-recognition...,this is the way things should be handled,p288,1384 775 65 1445 1879 1144 868 137 14 1095 109...